@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply relative z-1 bg-whiten font-satoshi text-base font-normal text-body;
  }
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .chat-height {
    @apply lg: h-[calc(100vh_-_8.125rem)] h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply lg: h-[calc(100vh_-_8.125rem)] h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}

.tableCheckbox:checked ~ div {
  @apply border-primary bg-primary;
}

.apexcharts-legend-text {
  @apply dark: !text-body !text-bodydark;
}

.apexcharts-text {
  @apply dark: !fill-body !fill-bodydark;
}

.apexcharts-xcrosshairs {
  @apply dark: !fill-stroke !fill-strokedark;
}

.apexcharts-gridline {
  @apply dark: !stroke-stroke !stroke-strokedark;
}

.apexcharts-series.apexcharts-pie-series path {
  @apply dark: !stroke-transparent;
}

.apexcharts-legend-series {
  @apply !inline-flex gap-1.5;
}

.apexcharts-tooltip.apexcharts-theme-light {
  @apply dark: dark: !border-strokedark !bg-boxdark;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply dark: dark: !border-strokedark !bg-meta-4;
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  @apply dark: dark: dark: !border-meta-4 !bg-meta-4 !text-bodydark1;
}

.apexcharts-xaxistooltip-bottom:after {
  @apply dark: !border-b-meta-4;
}

.apexcharts-xaxistooltip-bottom:before {
  @apply dark: !border-b-meta-4;
}

.flatpickr-day.selected {
  @apply hover: hover: border-primary border-primary bg-primary bg-primary;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply fill-primary;
}

.flatpickr-calendar.arrowTop:before {
  @apply dark: !border-b-boxdark;
}

.flatpickr-calendar.arrowTop:after {
  @apply dark: !border-b-boxdark;
}

.flatpickr-calendar {
  @apply dark: dark: dark: 2xsm: !w-auto !bg-boxdark !p-6 !text-bodydark !shadow-8;
}

.flatpickr-day {
  @apply dark: !text-bodydark;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply dark: dark: !top-7 !fill-white !text-white;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}

span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply dark: dark: !fill-white !text-white;
}

.flatpickr-day.inRange {
  @apply dark: dark: dark: !border-meta-4 !bg-meta-4 !shadow-7;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
  @apply dark: !text-white;
}

.map-btn .jvm-zoom-btn {
  @apply dark: hover: dark: hover: hover: hover: dark: dark: hover: flex h-7.5 w-7.5 items-center justify-center rounded border border-stroke border-strokedark border-primary border-primary bg-white bg-primary px-0 pt-0 pb-0.5 text-2xl leading-none text-body text-white text-white text-bodydark;
}

.mapOne .jvm-zoom-btn {
  @apply left-auto top-auto bottom-0;
}

.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-10;
}

.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}

.mapTwo .jvm-zoom-btn {
  @apply top-auto bottom-0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}

.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-10;
}

.taskCheckbox:checked ~ .box span {
  @apply opacity-100;
}

.taskCheckbox:checked ~ p {
  @apply line-through;
}

.taskCheckbox:checked ~ .box {
  @apply dark: border-primary border-primary bg-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}

.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}
